.reveal {

    body & h1 {
        font-size: 2.7em;
        //text-transform: none;
    }

    body & h2 {
        font-size: 1.8em;
        text-transform: none;
    }

    font-family: Avenir, sans-serif;

    .math-formula {
        font-size: 125%;
        text-align: center;
        margin: 20px 0;
        color: #222;
    }

    @mixin slide-header {
        position: fixed;
        top: 0%;
    }
    .slide-header-right {
        @include slide-header;
        right: 0%;
    }
    .slide-header-left {
        @include slide-header;
        left: 0%;
    }
    @mixin slide-footer {
        position: fixed;
        bottom: calc(0%);
    }
    .slide-footer-right {
        @include slide-footer;
        right: 0%;
    }
    .slide-footer-left {
        @include slide-footer;
        left: 0%;
    }
    .footer-text {
        font-size: 50%;
        color: #999;
    }

    .shadow-text {
        color: #FFF;
        text-shadow:
                0 0 1px #000,
                -1px -1px 2px #000,
                1px -1px 2px #000,
                1px 1px 2px #000,
                -1px 1px 2px #000,
                -2px -2px 3px #000,
                -2px 0px 3px #000,
                -2px 2px 3px #000,
                0px -2px 3px #000,
                0px 2px 3px #000,
                0px 0px 3px #000,
                2px -2px 3px #000,
                2px 0px 3px #000,
                2px 2px 3px #000;
        display: inline;
    }

    body & pre {

        code {
            padding: 10px;
            max-height: 500px;
        }

        &.fat-code {
            width: 95%;

            code {
                font-size: 0.9em;
            }
        }
    }
}
